.text-color{
    color: #D73F03;
}

.login-box{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    padding: 50px 20px;
}
input {
    width: 70%;
    border: 1px solid #ccc;
    height: 38px;
    padding: 2px 5px 2px 10px;
    font-size: 16px;
}
.input-group input{
    margin-left: 15%;
}
.login-btn{
    background-color: #D73F03;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 25px;
    color: white;
    border-radius: 5px;
    width: 70%;
    display: block;
    margin-left: 15%;
    margin-top: 10px;
}
@media only screen and (max-width:768px){
    .login-box{
        width: 60%;
    }
}
@media only screen and (max-width:600px){
    .login-box{
        width: 80%;
    }
    .input-group input,
    .login-btn{
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width:425px){
    .login-box{
        width: 95%;
    }
}

#warning{
    color: red;
    font-size: 12px;
    margin: 10px;
    display: block;
    text-align: center;
}

/* ==========================================================

============================================================*/
.deposit-box{
    background-color: #FF5E00;
}
.withdraw-box{
    background-color: #FF8500;
}
.balance-box{
    background-color: #FFB000;
}
.banking-box{
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
}
.money-text-color{
    color: rgb(20, 2, 2);
}

/* ==========================================================

============================================================*/

.add-withdraw-box,
.add-deposit-box{
    background-color: #F7FAFC;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
    margin-top: 20px;
}
@media only screen and (max-width:768px){
    .banking-box{
        margin-top: 20px;
    }
}